* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Clases para todas las pag */
.fondo-madera{
    background-image: url("./images/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-center{
    text-align: center;
}

/* Nav Bar */
header {
    background-color: #da9f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

header ul li a, header ul li {
    text-decoration: none;
    color: #600000;
    list-style: none;
}

/* Animacion */
.nav-animation {
    position: relative;
}

.nav-animation::before{
    content:"";
    position:absolute;
    background-color:#600000;
    bottom:0;
    right: 0;
    left: 0;
    height:2px;
    width: 0;
    transition:width 0.25s ease-out;
}

.nav-animation:hover::before{
    width:100%;
}
/* Fin Animacion */

.logo {
    margin-left: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.logo img{
    object-fit:cover;
}

nav {
    margin-right: 1%;
    width:auto;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    gap: 10%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
}

.icon-log-in, .icon {
    width: 40px;
    height: auto;
}

.logo{
    margin: 0.5%;
}

/* Footer */
.pie-pagina {
    background-color: #1F0C04;
    color:azure;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Radley', serif;
    margin: 0;
    margin-top: auto;
    height: 80px;
}

.pie-pagina div a, .pie-pagina div a:visited {
    color: azure;
    margin: 6px;
    font-family: 'Radley', serif;
    text-decoration: none;
}

.pie-pagina h4{
    margin: 2px;
    align-items: center;
}

.info-pie-pagina {
    align-self: center;
}

.telefono-pie-pagina {
    display: flex;
    justify-content: center;
}

/* Pagina Index */
.pagina-principal {
    background-color: #1F0C04;
}

.pagina-principal {
    background-image: url("./images/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
}

.titulo-portada {
    color: rgb(206, 143, 25);
    font-size: 120px;
    font-family: 'Raleway', sans-serif;
    text-align: end;
    margin-right: 2%;
}

.pi {
    font-size:160px;
    font-family: sans-serif, sans-serif;
}

/* Codigo Animacion */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.3em;
      opacity: 0;
    }
    20%{
        opacity: 0.6;
    }
    40% {
      opacity: 0.7;
    }
    60%{
        opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0%{
        letter-spacing: -0.3em;
        opacity: 0;
    }
    20%{
        opacity: 0.6;
    }
    40% {
        opacity: 0.7;
    }
    60%{
        opacity: 0.9;
    }
    100%{
      opacity: 1;
    }
  }
/* Fin codigo animacion*/

/* Pagina Tienda */
.servicios {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
}
.nuestros-productos h1{
    margin-bottom: 9px;
}

.imagen-servicio {
    height: 200px;
    width: 200px;
    object-fit:cover;
    border-radius: 10px;
}

/* .container-cervezas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
} */
.imagen1{
    grid-area: imagen1;
}
.imagen2{
    grid-area: imagen2;
}
.imagen3{
    grid-area: imagen3;
}
.imagen4{
    grid-area: imagen4;
}
.imagen5{
    grid-area: imagen5;
}
.imagen6{
    grid-area: imagen6;
}
.tabla-servicio{
    grid-area: tabla-servicio;
}

.container-cervezas{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3;
    grid-template-areas: 
    "imagen1 imagen2 imagen3"
    "imagen4 imagen5 imagen6"
    ". tabla-servicio ."
}

.pagina-tienda{
    width: 100%;
    height: auto;
    font-family: 'Radley', serif;
}

.servicio{
    background-color: #9a7e6b;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
}

.servicio p{
    text-shadow: 1px 1px 2px #fff;
}

.servicio h3{
    color:#d19719;
    text-shadow: 1px 1px 2px #000000;
}

.servicios h1{
    font-size:3em;
}

.servicios h1,h2{
    color: #da9f20f3;
    text-align:center;
}

.contratar-servicio {
    background-color: #9a7e6b;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}

.seleccionar-servicios input{
    width:35px;
}

.contratar-servicio h2{
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    margin-bottom:10px;
}

.formu{
    color: #000;
    text-shadow: 1px 1px 2px #8B0000;
}

.elem-form, .elem-form #nombre{
    margin:5px;
    padding:0px;
    text-align: center;
}

.elem-form button{
    font-family: 'Radley', serif;
}

/* Pagina Nosotros */
.main-nosotros {
    margin: 2% 0%;
    font-family: 'Radley', serif;
}

.aboutUs,.nosotros-comienzo,.nosotros-productos {
    display: flex;
    gap: 8px;
    margin: 3%;
    justify-content: center;
    flex-wrap: wrap;
}

.nosotros-imagen-1, .nosotros-imagen-2, .nosotros-comienzo {
    border-radius: 10px;
}
.nosotros-imagen-1,.nosotros-imagen-2{
    width: 280px;
    object-fit:cover;
    border-radius:20px;
}

.main-nosotros h1 {
    text-align: center;
    font-size: 65px;
    color: #d19719;
    text-shadow: 1px 1px 2px #000000;
}

.nosotros-comienzo-texto,.nosotros-productos-texto {
    border: 2px solid rgb(231, 133, 21);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    height: fit-content;
    width: 350px;
    color: aliceblue;
}

.main-nosotros h3 {
    font-size: 30px;
}

.main-nosotros p {
    font-size: 20px;
}

/* Pagina Soporte */
.pagina-soporte main {
    display: flex;
    justify-content: center;
    font-family: 'Radley', serif;
}

.form-soporte-fieldset {
    margin: auto 25%;
}

.pagina-soporte fieldset {
    margin-top:2%;
    width: fit-content;
    padding: 20px;
}

.pagina-soporte legend{
    font-size:20px;
    color:white;
}

.pagina-soporte label {
    width: 400px;
}

.form-soporte {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-soporte div {
    display: flex;
    justify-content: center;
    margin:5px 0px;
    width: fit-content;
}

.titulo-input {
    font-size:15px;
    color:white;
}

.mensaje-input{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
}

.pagina-soporte input, .pagina-soporte textarea {
    width: 100%;
}
.div-enviar button{
    font-family: 'Radley', serif;
}

/* Pagina Login, Pagina Sign-up */
.div-inicio-sesion, .div-registro-cuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    min-width:300px;
    max-width: 400px;
    padding: 20px 0px;
    margin: 5% auto 0px auto;
    border-radius: 20px;
    border: 3px solid #da9f20f3;
    background-color: #1F0C04;
    font-family: 'Radley', serif;
}

.div-inicio-sesion label, .div-registro-cuenta label{
    color: #000;
    /*text-shadow: 1px 1px 2px #8B0000;*/
}

.div-inicio-sesion h2, .div-registro-cuenta h2, .div-inicio-sesion label, .div-registro-cuenta label{
    color: #d19719;
    /*text-shadow: 1px 1px 2px #000;*/
}

.form-inicio-sesion,.form-registro-cuenta {
    display: flex;
    flex-direction: column;
    width:90%;
}

.boton-inicio-sesion, .boton-registro-cuenta {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
}

.inicio-element {
    margin-top: 10px;
}

.div-inicio-sesion button, .div-registro-cuenta button{
    font-family: 'Radley', serif;
}

/* Pagina Login */

.registrarse, .logearse {
    display:block;
    text-align:center;
    margin-top:1%;
}

.registrarse a, .logearse a{
    text-decoration:none;
    color:#d19719;
}

.registrarse a:hover, .logearse a:hover{
    color:#835e10;
}

.form-registro-cuenta label, .form-inicio-sesion label {
    font-size: 20px;
    font-weight: bold;
}

.form-registro-cuenta input, .form-inicio-sesion input {
    height: 25px;
    border-radius: 7px;
}

/* Responsive Mobile */
@media (max-width: 800px){
    /* Tienda */
    .container-cervezas{
        display:flex;
        flex-flow: row wrap;
        padding:0px;
        justify-content: center;
        margin-bottom: 12px;
    }
    .servicios{
        margin: auto;
    }
    .titulo-portada, .pi {
        font-size: 100px;
    }
}


@media (max-width: 550px) {
    /* Nav Bar */
    .icon {
        width: 0;
        height: 0;
    }

    nav {
        width: 100%;
    }

    .nav-bar {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}