* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nav Bar */
header {
    background-color: #da9f20f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #600000;
    list-style: none;
}

.logo {
    margin-left: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

nav {
    margin-right: 1%;
    width:auto;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    gap: 10%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
}

.icon-log-in {
    width: 40px;
    height: auto;
}

.icon {
    height: 50px;
    width: auto;
}

.logo{
    margin: 0.5%;
}

/* Footer */
.pie-pagina {
    background-color: #1F0C04;
    color:azure;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Radley', serif;
    margin: 0;
    margin-top: auto;
}

.pie-pagina div a {
    color: azure;
    margin: 6px;
    font-family: 'Radley', serif;
    text-decoration: none;
}
.pie-pagina div a:visited{
    color: azure;
    text-decoration: none;
}

.info-pie-pagina {
    align-self: center;
}

.centrar {
    margin: 2px;
    align-items: center;
} 

.telefono-pie-pagina {
    display: flex;
    justify-content: center;
}

/* Pagina Index */
.pagina-principal {
    background-color: #1F0C04;
}

.imagen-principal {
    height: auto;
    width: 100%;
    opacity: 0.93;
}

.texto-portada {
    color: rgb(206, 143, 25);
    position: absolute;
    top: 50%;
    right: 5%;
    text-align: end;
}

.titulo-portada {
    font-size: 125px;
    font-family: 'Raleway', sans-serif;
}

.pi {
    font-size:187px;
    font-family: sans-serif, sans-serif;
}

main {
    margin: 0;
}

/* Pagina Servicios */
.servicios {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
}

.imagen-servicio {
    height: auto;
    width: 200px;
    border-radius: 10px;
}

.container-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagina-tienda{
    background-image: url("./images/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: 'Radley', serif;
}

.servicio{
    background-color: #9a7e6b;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.servicio h3{
    color:#d19719;
    text-shadow: 1px 1px 2px #000000;
}
.servicio p{
    text-shadow: 1px 1px 2px #fff;
}

.servicios h1{
    color: #da9f20f3;
}

.contratar-servicio h2 {
    color: #da9f20f3;
}

.contratar-servicio {
    background-color: #9a7e6b;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}
.contratar-servicio h2{
    text-shadow: 1px 1px 2px #000;
    text-align: center;
}
.formu{
    color: #000;
    text-shadow: 1px 1px 2px #8B0000;
    text-align: center;
}
.elem-form {
    padding: 10px;
}

.elem-form button{
    font-family: 'Radley', serif;
}

div.center{
    text-align: center;
}

/* Pagina Nosotros */
.pagina-nosotros {
    background-image: url("./images/fondo.png");
    background-size: cover;
}

.main-nosotros {
    margin: 2% 0%;
    font-family: 'Radley', serif;
}


.aboutUs,.nosotros-comienzo,.nosotros-productos {
    display: flex;
    margin: 3%;
    justify-content: center;
}

.nosotros-imagen-1 {
    border-radius:100%;
}

.nosotros-imagen-2 {
    border-radius: 10px;
}

.nosotros-comienzo {
    padding-right: 10px;
}

.main-nosotros h1 {
    text-align: center;
    font-size: 65px;
    color: #d19719;
    text-shadow: 1px 1px 2px #000000;
}

.nosotros-comienzo-texto,.nosotros-productos-texto {
    border: 2px solid rgb(231, 133, 21);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    height: fit-content;
    width: 350px;
    color: aliceblue;
}

.main-nosotros h3 {
    font-size: 30px;
}

.main-nosotros p {
    font-size: 20px;
}


/* Pagina Soporte */
.pagina-soporte main {
    display: flex;
    justify-content: center;
    font-family: 'Radley', serif;
}

.form-soporte-fieldset {
    margin: auto 25%;
}

.pagina-soporte {
    background-image: url("./images/fondo.png");
    background-size: cover;
}

.pagina-soporte fieldset {
    margin-top:2%;
    width: fit-content;
    padding: 20px;
}

.pagina-soporte legend{
    font-size:20px;
    color:white;
}

.pagina-soporte label {
    width: 400px;
}

.form-soporte {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-soporte div {
    display: flex;
    justify-content: center;
    margin:5px 0px;
    width: fit-content;
}

.titulo-input {
    font-size:15px;
    color:white;
}

.pagina-soporte input, .pagina-soporte textarea {
    width: 100%;
}
.div-enviar button{
    font-family: 'Radley', serif;
}

/* Pagina Login */
.a-login {
    background-image: url("./images/fondo.png");
    background-size: cover;
}

.inicio-sesion, .registrar-cuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #da9f20f3;
    padding: 20px;
    border-radius: 20px;
    background-color: #9a7e6b;
    font-family: 'Radley', serif;
}
.inicio-sesion label, .registrar-cuenta label{
    color: #000;
    text-shadow: 1px 1px 2px #8B0000;
}
.inicio-sesion h2, .registrar-cuenta h2{
    color: #d19719;
    text-shadow: 1px 1px 2px #000;
}
.form-inicio-sesion,.form-registro-cuenta {
    display: flex;
    flex-direction: column;
}

.inicio-element {
    margin-top: 10px;
}

.boton-inicio-sesion, .boton-registro-cuenta {
    margin-top: 10px;
    width: fit-content;
}

.div-boton-inicio-sesion, .div-boton-registro-cuenta{
    text-align: center;
}

.inicio-registro-cuenta {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
}
.mensaje-input{
    max-width: 100%;
    max-height: 200px;
    min-width: 100%;
    min-height: 100px;
}

.pagina-login{
    background-image: url("./images/fondo.png");
    background-size: cover;
}

.div-boton-inicio-sesion button, .div-boton-registro-cuenta button{
    font-family: 'Radley', serif;
}